container_commands:
  01_MYSQL-python:
    command: "yum install -y MySQL-python"
  02_xml2:
    command: "yum install -y libxml2-devel"
  03_xslt:
    command: "yum install -y libxslt-devel"
  04_create_storage_directories:
    command: "pip install --upgrade setuptools"
  05_create_storage_directories:
    command: "pip install --upgrade pip"
  06_create_storage_directories:
    command: "cd ecomap && pip install -r requirements.txt"