commands: 
  create_post_dir: 
    command: "mkdir /opt/elasticbeanstalk/hooks/appdeploy/pre"
    ignoreErrors: true
files: 
  /opt/elasticbeanstalk/hooks/appdeploy/pre/httpd.sh: 
    group: root
    mode: "000755"
    owner: root
    content: |-
        #!/usr/bin/env bash
        cp ./httpd_configs/httpd.conf /etc/httpd/conf/
        cp ./httpd_configs/ecomap.conf /etc/httpd/conf.d/ecomap.conf
        chown -R apache /opt